
.row {
    padding: 40px;
}
.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

jumbotron {
  background-image: url('http://files.fbcoverstreet.com/content/Xaclon4AcRnhURLOuOD84vB7qONAFkzOeDZSRQwCOd5Ebulisy8fisylYf4aa452.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px; 
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.center {
    text-align: center;
}

.footer {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 75px;
    margin-left : 50px;
    width: 100px;
}
 .container{
        font-family: sans-serif;
        margin: 0 auto;
        max-width: 800px;
        color: #062e8c;
        padding-top: 60px;
        padding-left: 20px;
        padding-right: 20px;
        }
        .header{
        font-weight: bold;
        color: green;
        }

