@import url(http://fonts.googleapis.com/css?family=Montserrat);
 
* {
    margin: 0;
    padding: 0;
}

html {
  background: #232323;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navi {
  background: #ef631c;
  height: 40px;
  display: inline-block;
  width:100%;
  position:relative;
}

.navi li {
  float: left;
  list-style-type: none;
  position: relative;
  color:white;
  width:auto;
  background: #ef631c;
  padding: 0 20px;
  text-decoration: none;
}

.navi li a {
  font-size: 16px; 
  line-height: 35px;
  float:left;
  background: #ef631c;
  color:white;
  width:auto;
  padding: 0 20px;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
}

.user-details {
	color: white;
	font-size:18px;
	font-family: Montserrat, sans-serif;
	position: absolute;
	top:10px;
	left:22%;
	list-style-type: none;
}

	.recent-rev {
		color: #0695a8;
		font-family: Montserrat, sans-serif;
		font-size : 20px;
		top:290px;
		left:22%;
		position: absolute;
	}


	.reviewuser {
	list-style-type: none;
	position: absolute;
	left:18%;
	top:320px;
	height: auto;
	opacity: 1;
	transition: all 0.1s;
	font-size: 18px;
    font-family: Montserrat, sans-serif;
    color:white;
}

	.reviewuser li a:visited, a:link, a:hover, a:active{
		color:#FFFFFF;
		text-decoration: none !important;
		width:800px;
		background: #1f7f5c;

	}

	.reviewuser li{
		color:#FFFFFF;
		text-decoration: none !important;
		width:800px;
		display: inline-block;
		margin:15px;
		background: #1f7f5c;
		padding: 10px;

	}

